// Navigation Styles here
.navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    color: @font-color;
    font-size: 1.6rem;
    padding: 20px;
    border-bottom: 2px dashed @navigation-border;
    h1 {
        width: 200px;
        padding-left: 20px;
        margin-left: 100px;
        // border: 1px solid red;
    }
    .navigation-tabs{
        width: 400px;
        justify-items: space-evenly;
        margin-right: 80px;
        //  border: 1px solid red;
        a{
            margin: 15px 15px;
            // border: 1px solid red;
            text-decoration: none;
            color: @font-color;
        
        }

    }
}