// Navigation Styles here
.navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    color: @font-color;
    font-size: 1.6rem;
    padding: 20px 25px;
    border-bottom: 2px dashed @navigation-border;
}